@import '../../constants/colors.scss';

.organizations-container {
  padding: 20px;

  .table-users {
    width: 100%;
    border-collapse: collapse;

    .table-row {
      background-color: $white;
    }

    .table-cell {
      padding: 10px;
    }

    .table-row:nth-child(2n), thead {
      background-color: $lightgray;
    }
  }

  .table-cell {
    border: 1px solid $black;
  }

  .btn-search {
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
  }

  .btn-search:hover {
    background-color: $darkblue;
  }

  .btn-clean {
    font-size: 30px;
    color: $red;
    margin-left: 10px;
    cursor: pointer;
  }

  .btn-clean:hover {
    color: $darkred;
  }

  .filter-category {
    margin: 0px 10px;
  }

  .filter-sector {
    width: 200px;
  }
}
