@import '../../constants/colors';

.login-container {
  width: 30%;
  padding: 20px;

  input {
    width: 100%;
  }

  .login-btn {

  }

  .login-text {
    color: $white;
    font-weight: bold;
  }

  .text-container {
    margin-top: 10px;
    text-align: center;

    span {
      font-size: 17px;
      margin-right: 5px;
    }
  }

  .error-text {
    text-align: center;
    color: $red;
    margin-top: 20px;
  }
}
