@import '../../constants/colors';

.base-page-login-container {
  padding-left: 7%;
  padding-right: 7%;

  .base-page-login-logos {
    height: 90px;
    padding: 20px;
    display: flex;
  }

  .base-page-login-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
  }

  .btn-confirm {
    margin-top: 20px;
  }
}
