@import '../../constants/colors';

.register-container {
  width: 30%;
  padding: 20px;

  input {
    width: 100%;
  }

  .input-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .register-text {
    color: $white;
    font-weight: bold;
  }

  .text-container {
    margin-top: 10px;
    text-align: center;

    span {
      font-size: 17px;
      margin-right: 5px;
    }
  }

  .error-text {
    color: $red;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  .overlay-container {
    height: auto;
  }

  .overlay-content {
    width: 80%;
    overflow: hidden;
  }

  .term-text-popup {
    color: $blue;
    cursor: pointer;
  }

  table {
    border-spacing: 0px;
    width: 100%;
  }

  th, td {
    border: 1px solid $black;
    padding: 5px;
    border-collapse: collapse;
  }

}
