@import '../../constants/colors';

.recover-password-container {
  width: 30%;
  padding: 20px;

  input {
    width: 100%;
  }

  .recover-password-btn {

  }

  p {
    color: $black;
  }

  .recover-password-text {
    color: $white;
    font-weight: bold;
  }

  .text-container {
    margin-top: 10px;
    text-align: center;

    span {
      font-size: 17px;
      margin-right: 5px;
    }
  }
}
