@import '../../constants/colors';

.menu-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  background-color: $green;

  .line {
    height: 2px;
    margin: 20px 20px 0px 20px;
    background-color: $white;
  }

  .menu-logo-container {
    margin-top: auto;
    display: flex;
  }

  .menu-content {
    padding: 15px;
    overflow: auto;

    .menu-item {
      margin: 17px 0px;
      font-size: 18px;
      display: flex;
      align-items: center;
      color: $white;
      justify-content: space-between;
      position: relative;

      .icon-menu {
        width: 30%;
        font-size: 20px;
      }

      .notification {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $red;
        position: absolute;
        right: 0;
        top: 0;
      }

    }

    .menu-item:hover {
      color: $darkwhite;
      cursor: pointer;
    }

  }

  .menu-content::-webkit-scrollbar {
    display: none;
  }
}
