@import '../../constants/colors.scss';

.report-container {
  padding: 20px;

  .report-title {
    font-weight: bold;
  }

  .report-container-general {
    display: flex;
    margin: 20px 0px;

    .img {
      height: 300px;
    }

    .report-container-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 100px;
      span {
        font-size: 18px;
      }
    }

  }

  .report-circular {
    border: 7px solid $red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dimension-card {
    padding: 15px;
    box-shadow: 0px 0px 10px $gray;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 28%;

    .dimension-name {
      font-weight: bold;
    }

    .dimension-progress {
      margin-left: auto;
    }

    .small-circle {
      width: 100px;
      height: 100px;
      margin: auto;
    }
  }

  p {
    font-size: 20px;
    color: $black;
    margin: 0px;
  }

  @media(max-width: 1100px) {
    .dimension-card {
      width: 40%;
    }
  }
}
