@import '../../constants/colors.scss';

.organizations-container {
  padding: 20px;

  .row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .yes-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
  }

  .cancel-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
    background-color: $red;
    margin-left: 10px;
  }

  .cancel-btn:hover {
    background-color: $darkred;
  }



  .btn-search {
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
  }

  .btn-search:hover {
    background-color: $darkblue;
  }

  .btn-clean {
    font-size: 30px;
    color: $red;
    margin-left: 10px;
    cursor: pointer;
  }

  .btn-clean:hover {
    color: $darkred;
  }

  .filter-category {
    margin: 0px 10px;
  }

  .filter-sector {
    width: 200px;
  }

}
