$white: #FFFFFF;
$lightergray: #f6f7f9;
$lightgray: #E8ECF3;
$gray: #969FAA;
$darkgray: #5A6978;
$darkergreen: #054028;
$brightgreen: #6EEB83;
$darkwhite: #e2e2e2;
$black: #47525E;
$green: #33BB84;
$darkgreen: #077f4f;
$ligthgrayblue: #c9e7ec;
$blue: #03AFCF;
$darkblue: #01849c;
$red: #F23D52;
$darkred: #c53041;
$overlayblack: #2e363ee3;
$yellow: #FFC82C;
$lightyellow: #ffebb1;
