$white: #FFFFFF;
$lightgray: #FAFAFB;
$gray: #969FAA;
$darkgray: #5A6978;
$darkestgreen: #054028;
$darkwhite: #e2e2e2;
$black: #47525E;
$green: #33BB84;
$darkgreen: #077f4f;
$blue: #03AFCF;
$darkblue: #01849c;
$red: #F23D52;
