@import '../../constants/colors.scss';

.form-evaluation-container {
  padding: 20px;

  .evaluation-title {
    font-weight: bold;
  }

  .evaluation-container-general {
    display: flex;
    margin: 20px 0px;

    .img {
      height: 300px;
    }

    .evaluation-container-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 30px;
      align-items: center;
    }

  }

  .indicator-card {
    padding: 15px;
    box-shadow: 0px 0px 10px $gray;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: $white;

    .indicator-name {
      font-weight: bold;
    }

    .indicator-description {
      font-size: 16px;
    }

    .dimension-progress {
      margin-left: auto;
    }

    .btn-attach {
      margin-left: auto;
      margin-right: 5px;
      background-color: $gray;
    }

    .icon-arrow {
      font-size: 30px;
      color: $black;
      margin-left: auto;
      cursor: pointer;
    }
  }

  .btn-confirm {
    color: $white;
    margin-top: 10px;
    width: 150px;
  }

  p {
    font-size: 20px;
    color: $black;
    margin: 0px;
  }
}
