@import '../../constants/colors.scss';

.form-evaluation-container {
  padding: 20px;

  .evaluation-title {
    font-weight: bold;
  }

  .evaluation-container-general {
    display: flex;
    margin: 20px 0px;

    .img {
      height: 300px;
    }

    @media(max-width: 1300px) {
      .img {
        height: 200px;
      }
    }

    .evaluation-container-texts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .evaluation-container-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 30px;
        align-items: center;
      }

      .description-container {
        margin-top: 20px;
        span {
          font-size: 16px;
        }
      }

    }

  }

  .points-text {
    font-size: 16px;
  }

  .criterion-container {
    margin: 30px 0px;
  }

  .indicator-card {
    padding: 15px;
    box-shadow: 0px 0px 10px $gray;
    border-radius: 10px;
    margin: 15px 0px;
    background-color: $white;

    .indicator-name {
      font-weight: bold;
    }

    .indicator-description {
      font-size: 16px;
    }

    .btn-attach {
      margin-left: auto;
      margin-right: 5px;
      background-color: $gray;
    }

    .btn-attach:hover {
      background-color: $darkgray;
    }

    .icon-arrow {
      font-size: 30px;
      color: $black;
      margin-left: auto;
      cursor: pointer;
    }

    .label-options {
      margin-left: 5px;
    }

    .row-buttons {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
      align-items: center;

      .evidence-input {
        margin-left: auto;
        width: 50%;
      }
    }
  }

  .save-eval {
    color: $white;
    width: 150px;
    margin-left: 10px;
  }

  p {
    font-size: 20px;
    color: $black;
    margin: 0px;
  }
}
