@import '../../constants/colors';

.header-container {
  background-color: $white;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 8px 3px 13px $gray;
  position: relative;

  .header-title {
    color: $green;
    font-size: 30px;
    font-weight: bold;
  }

  .icon-header {
    margin-left: auto;
    cursor: pointer;
    font-size: 40px;
    color: $red;
  }

  .icon-header:hover {
    color: $darkred;
  }

}
