@import '../../constants/colors';

.header-container {
  background-color: $white;
  // background: linear-gradient(270deg, $black 28%, $green 100%);
  background-image: url('../../assets/images/leaves-header.png'), ;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 8px 3px 13px $gray;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header-title {
    color: $black;
    font-size: 30px;
    font-weight: bold;
  }

  .icon-header {
    margin-left: auto;
    cursor: pointer;
    font-size: 40px;
    color: $red;
  }

  .icon-header:hover {
    color: $darkred;
  }

}
