@import '../../constants/colors';

.base-page-container {
  display: flex;
  height: 100vh;

  .base-page-container-content {
    width: calc(100% - 230px);

    .base-page-content {
      overflow: auto;
      height: calc( 100% - 80px);
    }
  }

}
