@import '../../constants/colors.scss';

.dimensions-container {
  padding: 20px;

  .dimensions-filter-container {
    display: flex;
    align-items: center;

    .add-btn {
      background-color: $blue;
      color: $white;
      border-radius: 50%;
      margin-left: 10px;
    }

    .add-btn:hover {
      background-color: $darkblue;
    }

    .new-btn {
      color: $white;
      margin-top: 0px;
      margin-left: auto;
      width: 200px;
    }
  }

  .icon-trash {
    color: $red;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
  }

  .icon-trash:hover {
    color: $darkred;
  }

  .btn-row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .yes-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
  }

  .cancel-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
    background-color: $red;
    margin-left: 10px;
  }

  .cancel-btn:hover {
    background-color: $darkred;
  }

  .card-container {
    box-shadow: 0px 0px 10px $gray;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px;
    background-color: $white;

    .card-row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .icon-edit {
        color: $blue;
        font-size: 24px;
        cursor: pointer;
      }

      .icon-edit:hover {
        color: $darkblue;
      }

      .icon-arrow {
        color: $black;
        font-size: 24px;
        margin-left: 25px;
        cursor: pointer;
      }

      .card-title {
        font-weight: bold;
        margin-right: auto;
      }
    }

    .table-dimension {
      width: 100%;
      border-collapse: collapse;

      .table-row {
        background-color: $white;
      }

      .table-cell {

        .indicator-cell {
          display: flex;
          padding: 10px;
          border-top: 1px solid $black;
        }

        .indicator-cell:first-child {
          border-top: none;
        }
      }

      .table-row:nth-child(2n), thead {
        background-color: $lightgray;
      }
    }

    .table-dimension, .table-cell {
      border: 1px solid $black;
    }
  }

}
