@import '../../constants/colors.scss';

.users-container {
  padding: 20px;

  .row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .yes-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
  }

  .cancel-btn {
    color: $white;
    border-radius: 50px;
    width: 100px;
    background-color: $red;
    margin-left: 10px;
  }

  .cancel-btn:hover {
    background-color: $darkred;
  }


  .admin-cell {
    display: flex;
    justify-content: center;
  }

  .yes-admin {
    color: $green;
    cursor: pointer;
  }

  .yes-admin:hover {
    color: $darkgreen;
  }

  .no-admin {
    color: $red;
    cursor: pointer;
  }

  .no-admin:hover {
    color: $darkred;
  }


  .btn-search {
    background-color: $blue;
    color: $white;
    border: none;
    cursor: pointer;
  }

  .btn-search:hover {
    background-color: $darkblue;
  }
}
