@import '../../constants/colors.scss';

.evaluations-list-container {
  padding: 20px;

  .evaluations-list-filters {
    display: flex;
    margin-bottom: 10px;

    .filter-org {
      background-color: $white;
      border: 1px solid $black;
      width: 30%;
      padding: 10px;
      font-size: 15px;
      margin-right: 10px;
      cursor: pointer;
    }

    .btn-search {
      background-color: $blue;
      color: $white;
      border: none;
      cursor: pointer;
    }

    .btn-search:hover {
      background-color: $darkblue;
    }

    .btn-clean {
      font-size: 30px;
      color: $red;
      margin-left: 10px;
      cursor: pointer;
    }

    .btn-clean:hover {
      color: $darkred;
    }
  }

  .table-row {
    cursor: pointer;
  }

  .table-row:hover {
    background-color: $gray !important;
    color: $white;
  }
}
